aiohttp==3.9.3
aiosignal==1.3.1
amulet-core==1.9.21
amulet-leveldb==1.0.0b5
amulet-map-editor==0.10.27
amulet-nbt==2.1.2
attrs==23.2.0
blinker==1.8.2
certifi==2024.2.2
click==8.1.7
discord.py==2.3.1
filelock==3.15.4
Flask==3.0.3
frozenlist==1.4.1
fsspec==2024.6.1
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mcrcon==0.7.0
minecraft-resource-pack==1.4.1
mpmath==1.3.0
multidict==6.0.5
mutf8==1.0.6
networkx==3.3
numpy==1.26.3
opencv-python==4.10.0.84
packaging==23.2
pillow==10.2.0
platformdirs==3.11.0
portalocker==2.8.2
PyMCTranslate==1.2.22
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7
setuptools==69.0.3
six==1.16.0
sympy==1.13.0
torch==2.3.1
torchvision==0.18.1
typing_extensions==4.12.2
Werkzeug==3.0.3
wheel==0.42.0
wxPython==4.2.1
yarl==1.9.4
